.row {
  display: flex;
  max-width: 80vw;
  max-height: 50vh;

}

/* Create two equal columns that floats next to each other */
.column {
  width: 100%;
  padding-left: 2%;
  padding-top: 2%;

}

.column>p {
  overflow-y: auto;
  height: 100%;
}

.column>img {
  float: left;
  max-width: 80vw;
  max-height: 40vh;
  object-fit: contain;
  width: 100%;

}

.project-img {

  width: 100%;
  padding-left: 2%;
  padding-top: 2%;
}

.project-img img {
  float: left;
  max-width: 100%;
  max-height: 40vh;
  object-fit: contain;
  border: 2px solid #000000;
  width: 100%;

}

.project-bar-title {
  text-align: justify;
  text-justify: inner-word;
  text-align: center;
  font-weight: bold;
  font-size: 200%;

}

.project-bar-disc {
  text-align: justify;
  text-justify: inner-word;
  text-align: center;
  font-size: 150%;

}

.fun-fact-title {
  text-align: justify;
  text-justify: inner-word;
  text-align: center;
  font-weight: bold;
  font-size: 200%;

}

.coming_soon {
  text-align: justify;
  text-justify: inner-word;
  text-align: center;
  font-size: 200%;
  color: #f03232;
}

.fun-fact {
  text-align: justify;
  text-justify: inner-word;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.row:after {
  display: flex;
  align-items: center;
  display: table;
  clear: both;
}

.column:after {
  display: flex;
  align-items: center;
  display: table;
  clear: both;
}

@media screen and (max-width: 650px) {
  .row {
    display: inline-block;
    align-items: center;
  }

  .column {
    width: 100%;
    max-height: none;
  }

  .column>p {
    width: 100%;
    max-height: none;
  }

  .column>img {
    height: 100%;
    width: 100%;
  }

  #feedback-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 999;
  }
}




.feedback-button {
  height: 40px;
  border: solid 3px #CCCCCC;
  background: #333333;
  width: 100px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -40px;
  top: 45%;
  z-index: 999;
}

#feedback-main {
  display: none;
  float: left;
  padding-top: 0px;
  z-index: 999;

}


#feedback-div {
  background-color: #48484866;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: -25%;
  margin-left: -260px;
  position: fixed;
  z-index: 999;
}

.feedback-input {
  color: #3c3c3c;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #b88a8aec;
  z-index: 999;
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
  z-index: 999;
}


/* Icons */

#feedback-name {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  z-index: 999;
}

#feedback-name:focus {
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  z-index: 999;
}

#feedback-email {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  z-index: 999;
}

#feedback-email:focus {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  z-index: 999;
}

#feedback-comment {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  z-index: 999;
}

#feedback-comment {
  width: 100%;
  height: 140px;
  line-height: 140%;
  resize: vertical;
  z-index: 999;
}


#feedback-button-blue {
  float: left;
  width: 100%;
  border: #6cad82 solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: #887171;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: -4px;
  font-weight: 700;
}

#feedback-button-blue:hover {
  background-color: #00000000;
  color: #0493bd;
}

.feedback-button-blue:hover {
  color: #b1d8f1;
}

.feedback-ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
}

.feedback-submit:hover {
  width: 100%;
  background-color: #ffffff;
}